<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- cart.html -->
<h2>Your Cart</h2>

<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <!-- {% for item in cart_items %}
            <tr>
                <td>{{ item.id}}</td>
                <td>{{ item.product_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>Rs: {{ item.price }}</td>
                <td>Rs: </td>
            </tr>
        {% endfor %} -->
    </tbody>
</table>

<p>Total Price: ${{ total_price }}</p>

</body>
</html>